@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Pretendard-Regular", sans-serif;
 
  color: #000;
}
.container {
 
}
header {
  width: 100%;
  height: 100px;
  border-top: 1px solid gainsboro;
  padding-top: 20px;
  border-bottom: 1px solid #e7e7e7;
}
footer {
  width: 100%;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 500;
}
.inner_wrap {
  width: 90%;
  margin: 0 auto;
}
.menu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.menu ul li {
  margin: 0 10px;
}
.top_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right_items ul li {
  font-size: 12px;
}
.login {
  padding-right: 10px;
  box-sizing: border-box;
  border-right: 1px solid gainsboro;
}
.bottom_menu {
  font-weight: 700;
  padding-top: 20px;
  box-sizing: border-box;
}
.bottom_menu a {
  border: 1px solid black;
  color: #fff;
  font-weight: 200;
  background-color: #000;
  border-radius: 40%;
}
#primeum {
  padding-right: 20px;
  border-right: 1px solid rgb(216, 216, 218);
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
ul li {
  float: left;
  list-style: none;
}
main {
  border-bottom: 1px solid gainsboro;
}

.news_footer {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border-bottom: 1px solid gainsboro;
}
.news_footer li {
  margin-right: 10px;
}

.right_menu li {
  margin: 0 10px;
}

input {
  background-color: inherit;
  font-size: 13px;
  width: 220px;
  border: none;
  outline: none;
}
.search {
  position: relative;
  background-color: rgb(238, 238, 243);
  height: 30px;
  width: 280px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}
.search input {
  position: absolute;
  top: 7px;
  right: 20px;
}
#search-icon-img {
  position: absolute;
  top: 5px;
  left: 15px;
}
.mainpage {
  width: 100%;
  display: block;
  padding-top: 160px;
  box-sizing: border-box;
}

.top_babber_wrap {
  width: 100%;
}
.top_banner_section {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12.5rem 12.5rem 12.5rem 12.5rem;
  row-gap: 40px;
  column-gap: 30px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
  border-radius: 5px;
}
.mainpage .banner-img:hover {
 
  transform: scale(1.2);
  transition: transform 0.8s;
}
.banner-text {
  color: #f8f8f8;
  position: absolute;
  font-size: 22px;
  top: 30px;
  left: 30px;
  z-index: 100;
}
.top_banner_img01 {
  overflow: hidden;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
}
.top_banner_img02 {
   overflow: hidden;
  position: relative;
  grid-column: 2/4;
  grid-row: 1/5;
}
.top_banner_img03 {
   overflow: hidden;
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
}
.top_banner_img04 {
   overflow: hidden;
  position: relative;
  grid-column: 1/2;
  grid-row: 3/5;
}
.top_banner_img05 {
   overflow: hidden;
  position: relative;
  grid-column: 4/5;
  grid-row: 2/4;
}
.top_banner_img06 {
   overflow: hidden;
  position: relative;
  grid-row: 4/5;
}

.bottom_banner_section {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  row-gap: 40px;
  column-gap: 30px;
  object-fit: cover;
}
.bottom_banner_img01 {
  overflow: hidden;
  position: relative;
  grid-row: 1/4;
  
}
.bottom_banner_img02 {
  overflow: hidden;
  position: relative;
  grid-row: 1/3;
  
}
.bottom_banner_img03 {
  overflow: hidden;
  position: relative;
  grid-row: 1/2;
  grid-column: 3/4;
  
}
.bottom_banner_img04 {
  overflow: hidden;
  position: relative;
  grid-row: 2/4;
  
}
.bottom_banner_img05 {
  overflow: hidden;
  position: relative;
  grid-row: 3/4;
  grid-column: 2/3;
  
}
.curation {
  width: 100%;
  padding-top: 150px;
  box-sizing: border-box;
  overflow: hidden;
}
.swiper_wrapper {
  width: 100%;
  display: flex;
}
.swiper_wrapper [class^="curation_item"] {
  overflow: visible;
  margin-top: 30px;
  display: inline-block;
  margin-right: 10px;
}
.promation img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.news_item02 {
  padding-top: 70px;
}
.news_item02 li {
  font-size: 13px;
  padding-right: 25px;
}
.news_item01 li {
  margin-right: 50px;
}
.news_item01 h6 {
  font-weight: 100;
}

.news_item01 p {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}
.news_item03 {
  float: right;
}
.news_item03 input {
  border-bottom: 1px solid gray;
  width: 300px;
  height: 50px;
}
.news_item03 p {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news_wrap {
  display: inline-block;
}
.news_wrap > div {
  display: flow-root;
}
.info_footer {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.info_footer ul {
  color: #868686;
  font-size: 10px;
}
.info_footer li {
  margin-right: 10px;
}
.footer_icons {
  float: right;
}
.chat {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 30px;
  bottom: 50px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  text-align: center;
  align-items: center;
  line-height: 75px;
}
.released_section {
  margin-top: 50px;
  width: 100%;
  overflow: visible;
  height: 550px;
  margin-bottom: 180px;
}
.released_section h5 {
  margin-top: 20px;
  color: #868686;
}
.released_wrap {
  width: 100%;
  display: flex;
}
.released_item {
  margin-top: 30px;
  position: relative;
  width: 350px;
  height: 430px;
  background-color: #f7f7f7;
  margin-right: 40px;
}
.released_item p {
margin-top: 40px;
  align-items: center;
}
.released_item img {
width: 100%;height: auto;
}
.released_item label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5px;
  background-color: #e2e2e2ce;
  border-radius: 5px;
  padding: 3px;
}
.promation h6 {
  margin: 20px 0 20px 0;
  display: inline-block;
  font-size: 10px;
  background-color: #e2e2e2ce;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 100;
}
.promation p {
    font-weight: 700;
}
.promation h5{
    font-weight: 200;
}
@media screen and (max-width: 767px){

.search{
  display: none;
}
.top_banner_section{
  display: flow-root;
  width: 100%;
  margin-bottom: 950px;
  
  
  
}
.bottom_banner_section{
  display: flow-root;
  width: 100%;
  margin-bottom: 900px;
  
  
}
.banner-img {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}
.curation {
  width: 100%;
  padding-top: 400px;
  box-sizing: border-box;
  overflow: visibles;
}
.swiper_wrapper {
  width: 100%;
  display: flex;
}
.swiper_wrapper [class^="curation_item"] {
  
  margin-top: 30px;
  display: flex;
  margin-right: 10px;
}
.promation img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}
#primeum{
  display: none;
}
c

}

